@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Raleway, sans-serif;
    background-color: #3C4048;
    color: #00ABB3;
    font-size: 1.2em;
    width: 680px;
    margin: 32px auto;
}

    a{
        color: #fff;
        text-decoration: none;
    }

nav{
    margin: 32px 0px;
}